.biography-list{
    max-width: 700px;
    margin: 20px auto 0px;
}

.biography-list article{
    background: #ffffff;
    border: 2px solid #DDD;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;

}

.biography-description{
    font-size: 16px;
    color: #999;
    margin-top: 10px;
    line-height: 24px;

}

.read-more{
    border-radius: 10px;
    border: 2px solid #153b8e;
}